<h1>Alterando avaliado</h1>

<%= render "form", evaluated: @evaluated %>

<br>

<div>
  <%= link_to "Mostrar este avaliado", @evaluated %> |
  <%= link_to "Voltar para avaliados", evaluateds_path %>
</div>
