<h1>Avaliados</h1>

<div id="evaluateds">
  <% @evaluateds.each do |evaluated| %>
    <%= render evaluated %>
    <p>
      <%= link_to "Mostrar este avaliado", evaluated %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "Novo avaliado", new_evaluated_path %>
